<div class="winner-show">

	<div class= "winner-show-image">
		<%= image_tag 'Winner.jpg' %>
	</div>	

	<div class="winner-show-text">
		<h3><%= link_to "start a new game?", desks_path %></h3>
	</div>
		
</div>	