/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.fields {
	width:268px;
	margin:10px auto;
	text-align:center;
	background-color: #fffde5;
	margin:0;
} 

.field {
	width:60px;
	height:60px;
	padding:1px;
	background-color: #fffde5;
	display: inline-block;
	text-align:center;
	vertical-align: middle;
	line-height:60px;
}

.picture {
	background: #a3dae5;
}

.error {
	background-color: red;
}
.error {
	background-color: #fffde5;
}

.desks-index {
	width: 600px;
	margin:auto;
}

.desks-show {
	width:600px;
	margin:auto;
}

.winner-show {
	width:600px;
	margin:auto;
}

.winner-show-image {
	text-align:center;

	width:600px;
}

.winner-show-text {
	text-align:center;
	width:600px;
}

.field-new {
	width: 600px;
	margin:auto;
}